# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# Static & media files
staticfiles/
media/

# IDE / editor configs
.vscode/
.idea/
*.swp

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
db.sqlite3
*.pyc
__pycache__/
